* {
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

html,
body {
  background-color: black;
  height: 100%;
  margin: 0px;
  overflow: hidden;
}
